body {
    background: #B300A1;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    background:#48FF00;
    border-radius: 10px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 5px solid black
}

.assignment img:hover{
    border: 5px solid lavender;
}

h1 {
    color: black;
    text-align:center;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    color:lavender;
}